body{
font-family: Arial;
background:#f4f4f4;
}

.container{
text-align:center;
padding:20px;
}

.movie-grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
gap:20px;
}

.movie-card{
background:white;
padding:10px;
border-radius:10px;
}

.movie-card img{
width:100%;
border-radius:10px;
}

.seats{
display:grid;
grid-template-columns:repeat(5,50px);
gap:10px;
justify-content:center;
}

.seats button{
padding:10px;
border:none;
background:#ddd;
cursor:pointer;
}

.seats .selected{
background:green !important; 
color:white;
}

.booking{
background:white;
margin:10px;
padding:10px;
border-radius:8px;
}
.seats button.booked{
    background: red !important;
    cursor: not-allowed;
    opacity: 0.6;
}